#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.playerScore {
  position: absolute;
  left: 80px;
}

.computerScore{
  position: absolute;
  right: 80px;
}

.choices {
  display: flex;
  justify-content: space-evenly;
}

.choice {
  /* color: black; */
  border: 1px solid black;
  cursor: pointer;
  padding: 5px;
  transition: color 0.2s ease;
}

.choice:hover {
  color: #99a3a4;
}
